<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @user.email %></h1>
    <p>
      You have successfully signed up to example.com,
      your username is: <%= @user.email %>.<br>

      <div class="panel panel-default items">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th colspan="2">Product</th>
              <th>Unit Price</th>
              <th>Quantity</th>   
            </tr>
          </thead>
          <tbody>
            <% @order_total = 0 %>
            <% @order.line_items.each do |order_item| %>
              <% @order_total += (order_item.total_price_cents * order_item.quantity) %>
              <%= render "item", order_item: order_item %>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <th colspan="3">
                TOTAL:
              </th>
              <th>
                <%= "$#{@order_total/100.to_f}" %>
              </th>
            </tr>
          </tfoot>
        </table>
      </div>


    </p>
    <p>
      To login to the site, just follow this link: 
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>